@import './normalize.css';

$keyboard-height: 240px;
$key-width-black: 24px;
$key-width-white: 36px;

html {
  font-size: 16px;
}

#synth {
  display: grid;
  grid-template-areas: 'panel-left body panel-right';
  grid-template-columns: 2fr 7fr 1fr;
}

#synth__panel--left {
  grid-area: panel-left;
}

#synth__body {
  grid-area: body;
}

#synth__panel-right {
  grid-area: panel-right;
}

#keyboard {
  display: inline-block;
  height: $keyboard-height;
  position: relative;
}

.key {
  border: 1px solid #000;
  cursor: pointer;
  position: absolute;

  &--black {
    background-color: #000;
    height: $keyboard-height * 5/8;
    transform: translateX(-#{$key-width-black / 2});
    width: $key-width-black;
    z-index: 1;

    &.key--active,
    &:hover {
      background-color: #222;
    }
  }

  &--white {
    background-color: #fff;
    border-right-width: 0;
    height: $keyboard-height;
    width: $key-width-white;
    z-index: 0;

    &.key--active,
    &:hover {
      background-color: #eee;
    }

    &:last-of-type {
      border-right-width: 1px;
    }
  }
}