#keyboard {
  border: 1px solid #000;
  display: inline-block;
  position: relative;
}

.key {
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 200px;
  width: 40px;
}

.key-b {
  background: #000;
  height: 120px;
  position: absolute;
  transform: translate(-10px, 0);
  width: 20px;
}
