@import './normalize.css';

$keyboard-height: 220px;
$key-width-black: 24px;
$key-width-white: 48px;

html {
  font-family: sans-serif;
  font-size: 16px;
}

/* Synth wrapper */
#synth {
  background-color: #000;
  border-bottom: 1rem solid #000;
  border-radius: 8px;
  display: inline-grid;
  grid-template-areas: 'panel-left body panel-right';
  grid-template-columns: 10rem (8 * $key-width-white) 5rem;
}

/* Left-hand control panel */
#synth__panel--left {
  display: grid;
  grid-area: panel-left;
  grid-template-areas: 'dial dial'
                       'volume transpose'
                       'modulator modulator';
  grid-template-rows: calc(60px + 2rem) 2fr 1fr;
}

#alpha-dial {
  grid-area: dial;

  .dial {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 60px;
    margin: 1rem auto;
    position: relative;
    width: 60px;

    &::after {
      color: #fff;
      content: 'a-dial';
      font-size: 11px;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      text-transform: uppercase;
      top: calc(100% + 4px);
    }
  }
}

#volume-dialer {
  grid-area: volume;
}

#transpose-buttons {
  grid-area: transpose;
}

#modulator {
  grid-area: modulator;
}

/* Middle part, including keyboard */
#synth__body {
  grid-area: body;
}

#header {
  height: calc(60px + 2rem);
}

#keyboard {
  display: inline-block;
  height: $keyboard-height;
  position: relative;
}

.key {
  border: 1px solid #000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  position: absolute;

  &--black {
    background-color: #000;
    height: $keyboard-height * 5/8;
    transform: translateX(-#{$key-width-black / 2});
    width: $key-width-black;
    z-index: 1;

    &.key--active,
    &:hover {
      background-color: #222;
    }
  }

  &--white {
    background-color: #fff;
    border-right-width: 0;
    height: $keyboard-height;
    width: $key-width-white;
    z-index: 0;

    &.key--active,
    &:hover {
      background-color: #eee;
    }

    &:first-of-type {
      border-bottom-left-radius: 8px;
    }

    &:last-of-type {
      border-bottom-right-radius: 8px;
      border-right-width: 1px;
    }
  }
}

/* Right-hand panel (contains no working parts) */
#synth__panel-right {
  grid-area: panel-right;
}